.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Preko celog ekrana */
  background-color: #fdfcf9; /* nežna bež pozadina */
  text-align: center;
  padding: 2rem;
  font-family: 'Lato', sans-serif; /* glavni font za tekst */
}

.page-container h1 {
  font-size: 2.5rem;
  color: #556b2f; /* nežna maslinasta */
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif; /* elegantni serif font za naslov */
  animation: fadeInDown 0.8s ease;
}

.page-container p {
  font-size: 1.2rem;
  color: #444;
  max-width: 600px;
  line-height: 1.6;
  animation: fadeInUp 0.8s ease;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
